<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/default">
<head th:include="layout/head :: head">
    <title>Home</title>
</head>
<body>
<div th:substituteby="layout/navbar :: navbar"></div>
<div class="container" ng-app="usuarioApp" ng-controller="usuarioController">
    <section layout:fragment="content">
        <p>Name : <input type="text" ng-model="name"></p>
        Nome: {{name}}

        <table>
            <tr ng-repeat="x in names">
                <td>{{ x.nome }}</td>
            </tr>
        </table>
    </section>
</div>
<div th:substituteby="layout/footer :: footer">
</div>
<!-- ANGULAR MODULES -->
<script src="/resources/js/usuario/app.js"></script>
<!-- ANGULAR CONTROLLERS -->
<script src="/resources/js/usuario/controller.js"></script>
</body>
</html>